.create-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 500px;
    height: 500px;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
}

#todo-input {
    width: 660px;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

#add-todo-button {
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#add-todo-button:hover {
    background-color: #45a049;
    scale: 1.05;
    transform: scale(1.05);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}




.todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 50%;
    transform: translateX(-50%);

}


.todo-text {
    font-size: 18px;
    color: rgb(26, 25, 25);
    margin-right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%;

}